@import "default.css";

.headerd {
    width: 100%;
    min-width: 1040px;
}
.background-body {
    width: 100%;
    min-width: 1040px;
    height: auto;
}


.top-buttons {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 55px;
    min-width: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.container-pa {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 460px;
}

.toggle {
    border-radius: 20px 20px 0 0;
    width: 48%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#present-p, #absent-a {
    color: white;
    cursor: pointer;
}
.active-d {
    height: 60px;
    background-color: var(--danger-color);
    z-index: 1;
}
.deactive-d {
    height: 50px;
    background-color: var(--disabled-color);
}
.attend-b {
    height: 50px;
    width: 200px;
    background-color: #FD7E14;
    color: white;
    cursor: pointer;
}

.atstatus-container {
    height: 999px;
    min-width: 800px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 65px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(3px 3px 20px rgba(0,0,0,0.2));
}

#about-class {
    height: 130px;
    padding: 20px;
}
.subject-name-code {
    width: 600px;
    margin-left: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
}
.teacher-name {
    width: 600px;
    margin-left: 30px;
    font-size: 18px;
}
.time-period {
    position: absolute;
    top: 20px;
    right: 50px;
}
.room-number {
    position: absolute;
    top:60px;
    right: 50px;
    text-decoration: underline;
}

#present-table {
    display: block;
}
#absent-table {
    display: none;
}

.div-block {
    height: 30px;
    background-color: var(--div-color);
}

.table {
    max-width: 1000px;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}
.table th {
    font-weight: 600;
}
.table th, .table td {
    padding: 0.55rem !important;;
}


/* Subject button */
.ex-btn-box {
    position: relative;
    overflow: hidden;
    float: right;
    left: 160px;
    bottom: 230px;
    width: 250px;
    height: 70px;
    transform: rotate(90deg);
}
.select-t {
    position: absolute;
    right: 15px;
    top: 55px;
    height: 50px;
    width: 200px;
    background-color: var(--danger-color);
    border: none;
    color: white;
    cursor: pointer;
    opacity: 20%;
}
