@import "default.css";

.container-la {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.toggle {
    border-radius: 20px 20px 0 0;
    width: 48%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-a {
    height: 65px;
    background-color: var(--danger-color);
    color: white;
    cursor: pointer;
    z-index: 1;
}
.atd-d {
    height: 55px;
    background-color: var(--disabled-color);
    color: white;
    cursor: not-allowed;
}


.login-container {
    margin: auto;
    height: 250px;
    width: 700px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    filter:drop-shadow(3px 3px 20px rgba(0,0,0,0.2));
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.form-group {
    margin: 0 !important;
}
.col-form-label {
    font-size: 22px !important;
    width: 100px;
    height: 55px;
    margin-right: 20px;
}
#uid, #otp {
    padding: 8px;
    width: 500px;
    height: 55px;
    font-size: 22px !important;
    border-color: var(--border-grey);
    border-radius: 10px;
    outline: none;
}
#uid:focus, #otp:focus {
    box-shadow: 0 2px 20px 1px rgba(0,0,0,0.02), 0 3px 6px 0 rgba(0,0,0,0.23);
}
#error_otp {
    position: absolute;
    margin-top: 10px;
    margin-left: 120px !important;
    font-size: 16px;
}
#error_login {
    position: absolute;
    margin-top: 150px;
    margin-left: 320px !important;
    font-size: 16px;
}

.btn {
    width: 185px;
    height: 55px;
    font-size: 20px !important;
    border: none;
}
.btn:hover {
    box-shadow: 0 2px 20px 1px rgba(0,0,0,0.1), 0 3px 6px 0 rgba(0,0,0,0.23);
}
.sub-btn {
    background-color: var(--blue);
    color: white;
    align-self: end;
    margin-right: 35px;
}

