@import "default.css";

:root {
    --gone-color: #ED6868;
    --select-color: rgba(64, 108, 210, 0.8);
    --none-t-color: #939393;
    --available-t-color: black;
    --available-s-color: #406CD2;
}

.headerd {
    min-width: 500px;
}
.background-body {
    min-width: 500px;
    width: 100%;
    height: auto;
    min-height: 810px;
}

.modal-launch {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: underline;
    opacity: 50%;
    cursor: pointer;
}
.modal-launch:hover {
    opacity: 100%;
}
.modal-open {
    overflow: auto !important;          /* Show the scrollbar */
}
.modal-header, .modal-body, .modal-footer {
    padding: 14px !important;
}
.modal-title {
    font-weight: 500;
}
.modal-ul {
    list-style-position: inside;
}
.modal-ul li {
    margin-bottom: 1px;
}


.time-heading {
    margin-top: 210px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}
#select-time {
    position: absolute;
    top: 245px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.timet-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    max-width: 1280px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.2))
}
.time {
    width: 140px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
@media (max-width: 1350px) {
    .timet-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.time-an {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.time-an:hover {
    transform: scale(1.15);
    z-index: 1;
}

.time-duration {
    font-size: 20px;
    margin: 0;
}
.active-time {
    color: var(--available-t-color);
}
.inactive-time {
    color: var(--none-t-color);
}
hr {
    margin: 4px auto 0 auto !important;
    width: 120px;
}
.sub-room {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 184px;
    width: 138px;
    padding: 8px;
}
.subject-name {
    display: block;
    overflow-y: hidden;
    height: 140px;
    margin: 0 !important;
    align-self: flex-start;
    color: var(--available-s-color);
}
.room-code {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: bold;
    align-self: flex-end;
    color: var(--available-s-color);
}
.selected .sub-room {
    background-color: var(--select-color);
}
.selected .subject-name, .selected .room-code {
    color: white;
}
/*.gone .sub-room {         !* classes whose time is over *!*/
/*    background-color: var(--gone-color);*/
/*}*/
/*.gone .subject-name, .gone .room-code {*/
/*    color: white;*/
/*}*/

.text-center {
    margin-bottom: 20px;
}
.sub-btn {
    width: 130px;
    height: 55px;
    font-size: 20px !important;
    border: none;
    background-color: var(--blue);
    color: white;
    margin-top: 20px;
}
.sub-btn:hover {
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}









/*
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    width: 500px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
</style>
</head>
<body>

<div class="slideshow-container">

<div class="mySlides fade">
<div class="numbertext">1 / 3</div>
<img src="img_nature_wide.jpg" style="width:100%">
<div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
<div class="numbertext">2 / 3</div>
<img src="img_snow_wide.jpg" style="width:100%">
<div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
<div class="numbertext">3 / 3</div>
<img src="img_mountains_wide.jpg" style="width:100%">
<div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
<span class="dot" onclick="currentSlide(1)"></span>
</div>

<script>
 let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
slides[i].style.display = "none";
}
slides[slideIndex-1].style.display = "block";
}
</script>

</body>
</html>


  */
