@import "default.css";

:root {
    --gone-color: #ED6868;
    --select-color: rgba(64, 108, 210, 0.8);
    --none-t-color: #939393;
    --available-t-color: black;
    --available-s-color: #406CD2;
}

.headerd {
    min-width: 500px;
}
.background-body {
    min-width: 500px;
    width: 100%;
    height: auto;
    min-height: 810px;
}

.modal-launch {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: underline;
    opacity: 50%;
    cursor: pointer;
}
.modal-launch:hover {
    opacity: 100%;
}
.modal-open {
    overflow: auto !important;          /* Show the scrollbar */
}
.modal-header, .modal-body, .modal-footer {
    padding: 14px !important;
}
.modal-title {
    font-weight: 500;
}
.modal-ul {
    list-style-position: inside;
}
.modal-ul li {
    margin-bottom: 1px;
}


.time-heading {
    margin-top: 210px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}
#select-time {
    position: absolute;
    top: 245px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.timet-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    max-width: 1280px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.2))
}
.time {
    width: 140px;
    height: 230px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
@media (max-width: 1350px) {
    .timet-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.time-an {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.time-an:hover {
    transform: scale(1.15);
    z-index: 1;
}

.time-duration {
    font-size: 20px;
    margin: 0;
}
.active-time {
    color: var(--available-t-color);
}
.inactive-time {
    color: var(--none-t-color);
}
hr {
    margin: 4px auto 0 auto !important;
    width: 120px;
}
.sub-room {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 184px;
    width: 138px;
    padding: 8px;
}
.subject-name {
    display: block;
    overflow-y: hidden;
    height: 140px;
    margin: 0 !important;
    align-self: flex-start;
    color: var(--available-s-color);
}
.room-code {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: bold;
    align-self: flex-end;
    color: var(--available-s-color);
}
.selected .sub-room {
    background-color: var(--select-color);
}
.selected .subject-name, .selected .room-code {
    color: white;
}
/*.gone .sub-room {         !* classes whose time is over *!*/
/*    background-color: var(--gone-color);*/
/*}*/
/*.gone .subject-name, .gone .room-code {*/
/*    color: white;*/
/*}*/

.text-center {
    margin-bottom: 20px;
}
.sub-btn {
    width: 130px;
    height: 55px;
    font-size: 20px !important;
    border: none;
    background-color: var(--blue);
    color: white;
    margin-top: 20px;
}
.sub-btn:hover {
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}
